@layer components {
    @media (prefers-color-scheme: dark) {
        .dark:border-white\/10 {
            border-color: rgb(255 255 255 / 0.1);
        }

        .dark\:text-gray-300 {
            --tw-text-opacity: 1;
            color: rgb(209 213 219 / var(--tw-text-opacity));
        }

        .dark:text-white {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
        }

        .dark:text-white\/70 {
            color: rgb(255 255 255 / 0.7);
        }

        .dark\:ring-white\/10 {
            --tw-ring-color: rgb(255 255 255 / 0.1);
        }

        .dark\:hover\:bg-black\/20:hover {
            background-color: rgb(0 0 0 / 0.2);
        }

        .dark\:hover\:text-white:hover {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
        }

        .dark\:focus\:ring-white\/10:focus {
            --tw-ring-color: rgb(255 255 255 / 0.1);
        }

        .dark\:focus\:ring-offset-white\/10:focus {
            --tw-ring-offset-color: rgb(255 255 255 / 0.1);
        }
    }
}
